[user]
	name = ryota-k0827
	email = 50436249+ryota-k0827@users.noreply.github.com
	signingkey = /home/ryota/.ssh/signing-key.pub
[core]
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.stCommitMsg
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
  program = "/mnt/c/Users/ryota/AppData/Local/1Password/app/8/op-ssh-sign-wsl"
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
